<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    {{ $bsCss := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" }}
    <link href="{{ $bsCss.RelPermalink }}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    {{ $style := resources.Get "variables.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ partial "favicon.html" . }}
  </head>
  <body>
  {{ partial "header.html" . }}
  <div class="container">
    <!--
    <ul>
    {{ range .Site.RegularPages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
    -->
    {{ block "main" . }}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
  {{ $bsJs := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" }}
  <script src="{{ $bsJs.RelPermalink }}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
  </body>
</html>
