{{ define "main" }}
  <div class="position-relative">
    {{ $img := resources.GetRemote "https://upload.wikimedia.org/wikipedia/commons/2/2c/Bad_Rappenau_-_Bonfeld_-_Ev._Gemeindehaus_-_Wildblumenbeet_2019_-_violetter_Mohn_und_Kornblumen.jpg" }}
    {{ $img := $img.Resize "1280x webp" }}
    <img class="w-100" src="{{ $img.RelPermalink }}"/>
    <div class="p-3 pb-0 rounded mx-3 bg-white bg-opacity-75 position-absolute top-50 translate-middle-y lead text-center" style="text-wrap:balance">{{ .Content }}</div>
  </div>

  <!--
  <div id="gallery" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {{ range $i, $img := resources.Match "gal*.jpeg" }}
        <div class="carousel-item {{ if eq $i 0 }}active{{ end }}">
          {{ $img := $img.Crop "784x588 webp" }}
          <img src="{{ $img.RelPermalink }}" class="d-block w-100"/>
        </div>
      {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#gallery" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#gallery" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  -->
{{ end }}
