:root {
  --bs-primary: #561435;
  --bs-primary-rgb: 86, 20, 53;
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: 43, 10, 26;
}

[data-bs-theme=dark] {
  --bs-link-color: #ab296a;
  --bs-link-color-rgb: 171, 41, 106;
  --bs-link-hover-color: #d63384;
  --bs-link-hover-color-rgb: 214, 51, 132;
  --bs-body-bg: var(--bs-primary);
}
