<div class="container-fluid text-bg-primary py-3" data-bs-theme="dark">
  <div class="container">
    <footer class="row justify-content-end">
      <address class="col-sm-auto mb-0">
        <h5>Kontakty</h5>
        Mgr. Marie Krejčová<br/>
        <a href="{{ .Site.Data.data.email }}">{{ .Site.Data.data.email }}</a><br/>
        <a href="tel:{{ replaceRE "(\\s)" "" .Site.Data.data.phone }}">{{ .Site.Data.data.phone }}</a><br/>
        {{ .Site.Data.data.address }}
      </address>
      <div class="col-sm-auto">
        <h5>Ordinační hodiny</h5>
        <table class="table table-sm">
          {{ partial "hours.html" . }}
        </table>
      </div>
    </footer>
  </div>
</div>
