<header class="navbar navbar-expand-sm text-bg-primary bg-gradient" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      {{ $img := resources.Get "logo.jpeg" }}
      {{ $img := $img.Resize "64x webp" }}
      <img src="{{ $img.RelPermalink }}" class="d-inline-block align-text-top rounded-circle me-1"/>
      <span class="d-inline-block align-text-top">
        <h1 class="h4 m-0">{{ .Site.Title }}</h1>
        <p class="m-0">S tělem mě baví svět.</p>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{- $currentPage := . }}
        {{- range .Site.Menus.main }}
          <li class="nav-item {{ with .Children }}btn-group{{ end }}">
            <a
              class="
                nav-link
                {{ if or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }}active{{ end }}
              "
              {{ if $currentPage.IsMenuCurrent .Menu . }}
                aria-current="page"
              {{ else if $currentPage.HasMenuCurrent .Menu . }}
                aria-current="true"
              {{ end }}
              href="{{ .URL }}"
              {{ with .Children }}role="button"{{ end }}
            >
              {{ .Name }}
            </a>
            {{- with .Children }}
              <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                {{- range . }}
                  <li><a class="dropdown-item {{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
                {{- end }}
              </ul>
            {{- end }}
          </li>
        {{- end }}
      </ul>
    </nav>
  </div>
</header>
